<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.merve.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gecmis"></activity>
        <activity android:name=".giyim"></activity>
        <activity android:name=".market"></activity>
        <activity android:name=".fatura"></activity>
        <activity android:name=".diger"></activity>
        <activity android:name=".yemek"></activity>
        <activity android:name=".eglence"></activity>
        <activity android:name=".login"></activity>
        <activity android:name=".signup"></activity>
        <activity android:name=".gelirekle"></activity>
    </application>

</manifest>